<template>
  <div class="home">
    <h1>Церемонии</h1>

    <div class="standup">
      <h2>Митинги</h2>
      <div>
        <div>
          <a href="">2018-09-20</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'home',
  components: {
    HelloWorld,
  },
};
</script>
