<template>
  <div class="team">
    <button @click="add()">+</button>
    <div class="team-list" v-for="(member, n) in members" :key="member.id">
      <div class="member">
        <p>
          <input placeholder="Имя" v-model="member.name"/>
        </p>
        <p>
          <input placeholder="Роль" v-model="member.role"/>
        </p>
        <p>
          <input type="checkbox" v-model="member.rest"> Отсутствует
        </p>
        <button @click="moveUp(n)">Вверх</button>
        <button class="red" @click="del(n)">Удалить</button>
        <button @click="moveDown(n)">Вниз</button>
      </div>
    </div>
    <button @click="save">Сохранить</button>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'team',
  components: {
    // HelloWorld,
  },
  data() {
    return {
      persistKey: 'scrum.team',
      nextId: 1,
      members: [],
    };
  },
  mounted() {
    if (localStorage.getItem(this.persistKey)) {
      try {
        this.members = JSON.parse(localStorage.getItem(this.persistKey));
      } catch (e) {
        localStorage.removeItem(this.persistKey);
      }
      if (this.members.length > 0) {
        this.methods.forEach((member) => { this.findNextId(member.id); });
      }
    }
  },
  methods: {
    add() {
      const member = {
        id: this.getNext(),
        name: '',
        role: 'Участник',
      };
      this.members.push(member);
    },
    del(n) {
      // eslint-disable-next-line
      if (!confirm(`Действительно удалить участника ${this.members[n].name} ?`)) {
        return;
      }
      this.members.splice(n, 1);
    },
    save() {
      const str = JSON.stringify(this.members);
      localStorage.setItem(this.persistKey, str);
    },
    getNext() {
      const id = this.nextId;
      this.nextId = id + 1;
      return id;
    },
    findNextId(id) {
      this.nextId = Math.max(this.nextId, id);
    },
    moveUp(n) {
      if (n > 0) {
        this.swap(n - 1, n);
      }
    },
    swap(a, b) {
      const rows = [this.members[a], this.members[b]];
      this.members.splice(a, 2, rows[1], rows[0]);
    },
    moveDown(n) {
      if (n + 1 < this.members.length) {
        this.swap(n, n + 1);
      }
    },
  },
};
</script>
<style>
  .member {
    border: 1px solid #59d229;
    margin: 1em;
    padding: 0.5em;
  }

  .team-list {
    width: 500px;
    margin: 1em auto;
  }

</style>
